In [1]:
import pandas as pd
dta = pd.read_csv("/Users/fuyuguo/EPI290/Project/BMI707/nhanes.csv")

In [5]:
print(dta.shape)
print(dta.columns)

(1003, 31)
Index(['lnLTL', 'PCB74', 'PCB99', 'PCB118', 'PCB138', 'PCB153', 'PCB170',
       'PCB180', 'PCB187', 'PCB194', 'PCB169', 'PCB126', 'Dioxin1', 'Dioxin2',
       'Dioxin3', 'Furan1', 'Furan2', 'Furan3', 'Furan4', 'age_cent', 'male',
       'bmi_cat3', 'edu_cat', 'race_cat', 'LBXWBCSI', 'LBXLYPCT', 'LBXMOPCT',
       'LBXNEPCT', 'LBXEOPCT', 'LBXBAPCT', 'ln_lbxcot'],
      dtype='object')

- There are a total of 1003 individuals included in the data.

In [6]:
dta[['age_cent']]

      age_cent
0           42
1           42
2           30
3           38
4            5
...        ...
998        -19
999        -21
1000         8
1001        31
1002        17

[1003 rows x 1 columns]

- Age has been centralized so it is meanless to look at its mean or sd.

In [10]:
dta[["male"]].value_counts()

male
0       559
1       444
dtype: int64

In [18]:
print(dta[["race_cat"]].value_counts())
print(dta[["race_cat"]].value_counts()/1003)

race_cat
4           518
2           227
3           180
1            78
dtype: int64
race_cat
4           0.516451
2           0.226321
3           0.179462
1           0.077767
dtype: float64

In [ ]:
print(dta[["bmi_cat3"]].value_counts())
print(dta[["bmi_cat3"]].value_counts()/1003)

- There are 444 males and 559 females

In [15]:
print(dta[["edu_cat"]].value_counts())
print(dta[["edu_cat"]].value_counts()/1003)

edu_cat
1          318
3          269
2          228
4          188
dtype: int64
edu_cat
1          0.317049
3          0.268195
2          0.227318
4          0.187438
dtype: float64

In [ ]:
print(dta[["edu_cat"]].value_counts())
print(dta[["edu_cat"]].value_counts()/1003)

In [23]:
dta[["LBXWBCSI", "LBXLYPCT", "LBXMOPCT", 
      "LBXEOPCT", "LBXBAPCT", "LBXNEPCT", "ln_lbxcot"]].median()

LBXWBCSI      6.900000
LBXLYPCT     29.000000
LBXMOPCT      7.800000
LBXEOPCT      2.300000
LBXBAPCT      0.600000
LBXNEPCT     59.100000
ln_lbxcot    -2.703063
dtype: float64

In [24]:
dta[["LBXWBCSI", "LBXLYPCT", "LBXMOPCT", 
      "LBXEOPCT", "LBXBAPCT", "LBXNEPCT", "ln_lbxcot"]].quantile(q=0.25)

LBXWBCSI      5.700000
LBXLYPCT     24.000000
LBXMOPCT      6.600000
LBXEOPCT      1.500000
LBXBAPCT      0.400000
LBXNEPCT     52.150000
ln_lbxcot    -4.074542
Name: 0.25, dtype: float64

In [25]:
dta[["LBXWBCSI", "LBXLYPCT", "LBXMOPCT", 
      "LBXEOPCT", "LBXBAPCT", "LBXNEPCT", "ln_lbxcot"]].quantile(q=0.75)

LBXWBCSI      8.350000
LBXLYPCT     35.450000
LBXMOPCT      9.100000
LBXEOPCT      3.700000
LBXBAPCT      0.800000
LBXNEPCT     65.250000
ln_lbxcot     2.537274
Name: 0.75, dtype: float64

- Numerical values for chemical exposures have been centralized so their averages are equal to 0.